aiohttp==3.6.2
aioprometheus==20.0.1
async-timeout==3.0.1
asynctest==0.13.0
attrs==19.3.0
chardet==3.0.4
dump1090exporter==20.0.0
idna==2.10
multidict==4.7.6
prometheus-metrics-proto==18.1.2
protobuf==3.12.4
quantile-python==1.1
six==1.15.0
yarl==1.5.0
