aiohttp==3.7.4.post0
aioprometheus==20.0.1
async-timeout==3.0.1
asynctest==0.13.0
attrs==21.2.0
chardet==3.0.4
dump1090exporter==21.0.0
idna==3.1
multidict==5.1.0
prometheus-metrics-proto==18.1.2
protobuf==3.17.0
quantile-python==1.1
six==1.16.0
yarl==1.6.3
