aiohttp==3.6.3
aioprometheus==20.0.1
async-timeout==3.0.1
asynctest==0.13.0
attrs==20.2.0
chardet==3.0.4
dump1090exporter==20.1.0
idna==2.10
multidict==5.0.0
prometheus-metrics-proto==18.1.2
protobuf==3.13.0
quantile-python==1.1
six==1.15.0
yarl==1.6.2
